<<<<<<< HEAD
.ckeditor_error, .error{color:red}
.ckeditor_ok{color:green}
.instruction_box{border: 1px solid #666; font-style: italic; padding: 10px;}
=======
.ckeditor_error, .error{color:red}
.ckeditor_ok{color:green}
.instruction_box{border: 1px solid #666; font-style: italic; padding: 10px;}
>>>>>>> e07e207b740242e1a57d939f6b11bf6ffdc89e75
